.rectangle-1 {

background-color: #ffffff  !important;
height:100px;


}

.rectangle-2{
    background-color:#ffffff  !important;
}

.medical ,.transport{
    
    width: 150px;
    height: 21px;
    left: 48px;
    top: 30px;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.starting-blnce{
    
    width: 231px;
    height: 16px;
    left: 48px;
    top: 70px;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);

}

.avail-blnce{
    position: relative;
    width: 212px;
    height: 21px;
    float:right;
    right:80px;
    top:-25px;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5) !important;
}
.icon{
    position:relative;
    top:-25px;
    float:right;
    right:65px
}

hr{
    margin-inline-start: 25px;
    margin-inline-end:25px;
}
table{
    width: 80%;
    margin-left: 45px;
    padding: 5px;
    margin-top: -10px;
    border-spacing: 15px;
}
.title-row{

width: 32.77px;
height: 16px;
left: 56.57px;
top: 166px;

font-family: Droid Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: rgba(0, 0, 0, 0.5);
}
button{
    height:30px;
    padding:none !important;
}

.item-title{
 
height: 19px;
left: 56.57px;
top: 207px;

font-family: Droid Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
}
.item-data{
  
height: 19px;
left: 269px;
top: 207px;

font-family: Droid Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
}
.delete-btn{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 28px;
color:#ffffff;
height: 37px;
left: 969px;
top: 198px;
margin:1px;
background: #655DC6;
border: 2px solid #655DC6;
box-sizing: border-box;
border-radius: 8px;
}
.toggle-span{
    float: right;
    padding: 5px 0px 5px 0px;
    display: initial;
    right:50px;
    top:30px;
}

